<div class="flex w-full px-[20%] my-[100px]" id="comment_form">
    <form action="" method="POST" class="w-full" id="comment_form_submit" data-href="{% url 'comment_add' product.category.slug product.slug %}">
        {% csrf_token %}
        <div class="mt-4 w-full flex space-x-5 items-center justify-end">
            <div><p>Select rating: </p></div>
            <div>
                <label class="label" for="star-1">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </label>
                <input class="input hidden" type="radio" id="star-1" name="rating" value="1">
                <label class="label" for="star-2">
                    <i class="fa fa-star"></i>
                </label>
                <input class="input hidden" type="radio" id="star-2" name="rating" value="2">
                <label class="label" for="star-3">
                    <i class="fa fa-star"></i>
                </label>
                <input class="input hidden" type="radio" id="star-3" name="rating" value="3">
                <label class="label" for="star-4">
                    <i class="fa fa-star"></i>
                </label>
                <input class="input hidden" type="radio" id="star-4" name="rating" value="4">
                <label class="label" for="star-5">
                    <i class="fa fa-star"></i>
                </label>
                <input class="input hidden" type="radio" id="star-5" name="rating" value="5" checked>
            </div>
        </div>
        <div class="text-red-600">{{ form.non_field_errors }}</div>
        <div>{{form.errors}}</div>
        <div class="mt-4">
            {{form.description}}
        <div class="text-red-600">{{form.description.errors}}</div>
        <div class="flex justify-end">
            <button type="submit" hx-post="{{product.get_absolute_url}}" hx-target="#comment_list". class="inline-block py-2 px-4 border border-black text-center">Comment</button>
        </div>
    </form>
    <div class="space-y-5 mt-[50px]" id="comment_list">
        {% include 'keyboard/partials/comment_list.html' %}
    </div>
</div>