{% if comments %}
    {% for comment in comments %}
        <div class="p-5 space-y-5 border-dotted border-2 border-[#303030]">
            <div class="flex justify-between">
                <div class="flex justify-between items-center space-x-5">
                    <!-- <img src="" alt=""> UserImage will be here -->
                    <div class="w-[50px] h-[50px] rounded-full bg-[#303030] text-white text-2xl">
                        <p class="flex h-full justify-center items-center">{{comment.owner|make_list|first|upper}}</p>
                    </div>
                    <div>
                        <p class="text-2xl">{{comment.owner}}</p>
                        <p class="opacity-50">{{comment.time_create|date:"d M Y H:m"}}</p>
                    </div>
                    
                </div>
                <div>
                    <span class="fa fa-star color-off {% if comment.rating > 0 %}color-on{% endif %}"></span>
                    <span class="fa fa-star color-off {% if comment.rating > 1 %}color-on{% endif %}"></span>
                    <span class="fa fa-star color-off {% if comment.rating > 2 %}color-on{% endif %}"></span>
                    <span class="fa fa-star color-off {% if comment.rating > 3 %}color-on{% endif %}"></span>
                    <span class="fa fa-star color-off {% if comment.rating > 4 %}color-on{% endif %}"></span>
                </div>
            </div>
            <div class="pl-[30px]">
                <p>{{comment.description}}</p>
            </div>
            <div class="text-right">
                <p>{{comment.time_create|date:"d M Y H:m"}}</p>
            </div>
        </div>
    {% endfor %}
{% else %}
        <p class="text-center text-2xl text-[#303030] opacity-50">There aren't comments</p>
{% endif %}