<div id="cart-empty" class="w-full h-full flex justify-center items-center">
    <div class="text-center">
        <p class="text-4xl">Your cart is empty</p>
        <button id="button-modal" type="button" class="inline-block border-4 hover:border-gray-400 hover:shadow-md shadow-black mt-10 p-4">Continue shopping</button>
        <p class="text-2xl mt-10">Have an account?</p>
        <p><a id="login" href="{% url 'login' %}" class="underline text-xl">Log in</a> to check out faster.</p>
    </div>
</div>