{% load stripe_tags %}

{% if cart.cart_products.all %}
    <h2 class="text-4xl mb-10">Your cart</h2>
    {% for cart_product in cart.cart_products.all %}
        <div class="cart-item flex items-center space-x-5 border-t-2 p-4">
            <img src="{{cart_product.product.image.url}}" class="w-[100px] h-[100px]" alt="">
            <div>
                <p class="text-2xl">{{cart_product.product.name}}</p>
                <div class="flex space-x-5 items-center">
                    <input id="qty" type="number" min="1" max="99" data-href="{{ cart_product.get_product_update_url }}" value="{{cart_product.quantity}}" class="text-center w-[100px]">
                </div>
            </div>
            <div class="flex flex-1 justify-end items-center">
                <p class="text-xl mr-10 underline underline-offset-2">${{cart_product.product.price}}</p>
                <a href="{{ cart_product.get_product_delete_url }}" class="delete-link inline-block text-sm items-center">
                    <svg class="me-2 eVNhx7m5tjSVbfYQzDdT kbeH5ty3CtPKxXm5TXph" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"></path>
                    </svg>
                </a>
            </div>
        </div>          
    {% endfor %}
    <div id="product-block"></div>
    <div class="w-full text-right">
        <p class="text-xl">Total price: <span id="total" class="text-2xl">${{cart.total_price}}</span></p>
    </div>
    <div class="w-full text-center">
        <button type="button" id="checkout-button" class="inline-block border-4 hover:border-gray-400 hover:shadow-md shadow-black mt-10 py-2 px-4">Check out</button>
    </div>
{% else %}
{% include 'cart/partials/empty_cart.html' %}
{% endif %}

<script>

console.log('Before click')


window.stripe = window.stripe || Stripe("{% stripe_public_key %}");


function getCSRFToken() {
    return document.querySelector('[name=csrf-token]').content;
}


function CheckoutHandler() {
    const button = document.querySelector('#checkout-button');
    if (!button || button.dataset.bound) return;

    button.dataset.bound = 'true';

    button.addEventListener('click', function(e) {
        e.preventDefault();
        console.log('Click')

        fetch("{% url 'checkout' %}", {
        method: "POST",
        headers: { "X-CSRFToken": getCSRFToken() },
        })
        .then(res => res.json())
        .then(data => window.stripe.redirectToCheckout({ sessionId: data.id }));
    })
    
}

document.addEventListener('DOMContentLoaded', CheckoutHandler);

if (!window.cartObserver) {
    window.cartObserver = new MutationObserver(() => CheckoutHandler());
    window.cartObserver.observe(document.body, { childList: true, subtree: true });
}

</script>