{% extends 'base.html' %}
{% load static %}

{% block title %}Qunix{% endblock %}

{% block content %}
<main class="w-full mt-[-100px]">
    <div class="w-full h-screen bg-cover flex pt-[100px]"
    style="background-image: url('static/keyboard/images/main_bg_keyboard.jpg');">
        <div class="text-center m-auto">
            <h1 class="text-white uppercase text-6xl">Type Your Way to Perfection</h1>
            <p class="mt-5 text-xl text-white">Discover keyboards engineered for comfort, speed, and style. Every keystroke feels just right.</p>
            <a href="#" class="inline-block text-white border border-white mt-10 p-4">Explore more</a>
        </div>
    </div>
    <div class="grid grid-cols-2 bg-[#050505]">
        <div class="flex my-auto">
            <div class="px-[15%]">
                <h2 class="text-white uppercase text-6xl">Ikey super</h2>
                <p class="mt-5 text-xl text-[#808080]">Our mission is to provide users with an exceptional experience through premium-quality, aesthetically pleasing products, empowering them to build and customize their ideal keyboard with complete freedom.</p>
                <a href="#" class="inline-block text-white border border-white mt-10 p-4">Explore more</a>
            </div>  
        </div>
        <div>
            <img src="{% static '/keyboard/images/our_mission.jpg' %}" alt="">
        </div>
    </div>
    <div class="grid grid-cols-2 bg-[#050505]">
        <div>
            <img src="{% static '/keyboard/images/keycaps_sets.jpg' %}" alt="">
        </div>
        <div class="flex my-auto">
            <div class="px-[15%]">
                <h2 class="text-white text-6xl">Keycap sets</h2>
                <p class="mt-5 text-xl text-[#808080]">Keycaps offer a textured surface and crisp legends for a comfortable and premium feel, ideal for both gaming and professional setups. Available in various colors and profiles, they let you customize your keyboard to match your style. </p>
                <a href="#" class="inline-block text-white border border-white mt-10 p-4">Explore more</a>
            </div>  
        </div>
    </div>
    <div class="bg-[#050505] text-white text-center pt-[6%]">
        <div class="px-[10%] pb-7 text-6xl">
            <h1>Keyboards should be both tools and works of art.</h1>
        </div>
        <div class="px-[20%] pb-[6%] text-xl text-[#808080]">
            <p>At Ikey, we're passionate about the art of typing. We believe that a keyboard should be a work of art as well as a tool, and that's what sets us apart. Our brand is built on a foundation of quality, innovation, and customer satisfaction.</p>
        </div>
        <div class="px-[6%]">
            <img class="w-full h-full" src="{% static 'keyboard/images/works_for_art.jpg' %}" alt="">
        </div>
    </div>
</main>

<!-- <script>
    let header = document.getElementById('header')
    let footer = document.getElementById('footer')

    header.classList.remove('bg-opacity-100')
    header.classList.add('bg-opacity-0')

    footer.classList.remove('bg-opacity-100')
    footer.classList.add('bg-opacity-0')
</script> -->
{% endblock %}