{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="px-[100px] py-[50px]">
    <h1 class="text-5xl text-center">Profile</h1>
    {{request.user.profile.birth}}
    <div class="flex gap-5 mt-[50px]">
        <div class="bg-[#303030] text-white w-[200px] p-4">
            <div class="text-center text-2xl">
                <p>Name Surname</p>
            </div>
            <div class="">
                <ul>
                    <li>
                        <a href="{% url 'orders_history' request.user.id %}" hx-get="{% url 'order_history' request.user.id %}" hx-target="#content">Order History</a>
                    </li>
                    <li>
                        <a href="{% url 'wishlist:wishlist' %}" hx-get="{% url 'wishlist:wishlist' %}" hx-target="#content">Wishlist</a>
                    </li>
                    <li>
                        <a href="{% url 'reviews' request.user.id %}" hx-get="{% url 'reviews' request.user.id %}" hx-target="#content">Reviews</a>
                    </li>
                    <li>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button>Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-[85%] bg-red=900 h-[500px] overflow-scroll" id="content">
            
        </div>
    </div>
</div>
{% endblock %}