{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="keyboard/css/style.css">
    {% tailwind_css %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="bg-gray-300 h-[100px] flex justify-between items-center px-32 relative z-10 bg-opacity-30">
        <div>
            <a href="{% url 'main' %}">
                <img class="w-[100px]" src="{% static '/keyboard/images/keyboard_logo.png' %}" alt="">
            </a>
            <!-- MGKey -->
        </div>
        <nav>
            <ul class="flex space-x-20 text-gray-500">
                <li class="hover:text-white hover:underline hover:underline-offset-4 hover:decoration-2">
                    <a href="{% url 'keyboards' %}">Keyboards</a>
                </li>
                <li class="hover:text-white hover:underline hover:underline-offset-4 hover:decoration-2">
                    <a href="{% url 'keycaps' %}">Keycaps</a>
                </li>
                <li class="hover:text-white hover:underline hover:underline-offset-4 hover:decoration-2">
                    <a href="{% url 'switches' %}">Switches</a>
                </li>
            </ul>
        </nav>
        <div class="flex space-x-5">
            <a href="">
                <img class="w-[25px]" src="{% static '/keyboard/images/search_logo.png' %}" alt="">
            </a>
            <a href="">
                <img class="w-[25px]" src="{% static '/keyboard/images/profile_logo.png' %}" alt="">
            </a>
            <a href="">
                <img class="w-[25px]" src="{% static '/keyboard/images/cart_logo.png' %}" alt="">
            </a>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>