* {
    font-family: "VT323", monospace;
}
  
.carousel-detail .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    opacity: 0.5;
    background: #303030;
}

.carousel-detail .swiper-pagination-bullet-active {
    opacity: 1;
}

.carousel-detail .swiper-slide-button {
    color: #303030; 
}

.carousel-detail .swiper-slide-button:hover {
    transform: scale(150%);   
    transition: all 0.5s;
}

/* styles for the star rating */
.label {
    cursor: pointer;
}

i.fa-star {
    color: orange;
    font-size: 30px;
}

.input:checked ~ .label .fa-star {
    color: #ddd;
}

.input:hover ~ .label .fa-star {
    color: #ddd;
}

.comment .fa-star{
    font-size: 15px;
}

.color-off {
    color: #ddd;
}

.color-on {
    color: orange;
}
/*  */